html{
  --primary: #822287;
  --background-color: black;
  --background-alt: #333;
  --border-color: #444;
  --border-color-strong: #555;
  --input-border-color: #666;
  --error-color: red;
  --text-color: #FFF;
  --text-color-muted: #999;
}