html{
  --primary: #822287;
  --background-color: white;
  --background-alt: #EEE;
  --border-color: #EEE;
  --border-color-strong: #CCC;
  --input-border-color: #CCC;
  --error-color: red;
  --text-color: black;
  --text-color-muted: #666;
}