// $primary: #822287;
$primary: var(--primary);
$border-radius: 4px;
$background-color: var(--background-color);
$background-alt: var(--background-alt);
$spacing-xm: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
$font-size-md: 14px;
$font-size-sm: 12px;
$border-color: var(--border-color);
$border-color-strong: var(--border-color-strong);
$input-border-color: var(--input-border-color);
$error-color: var(--error-color);
$text-color: var(--text-color);
$text-color-muted: var(--text-color-muted);